html {
    width: 100%;
    height: 100%;
    background-image: url("../img/rana-sawalha-364253-unsplash@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
       }

.main {
    margin: 0;
    height: 56px;
    position: relative;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5)
}
#square{
    position: absolute;
    left:0;
    top:30px;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding-left: 0;
    background: #3cb878;
}
.main-header{
    display: inline-block;
    margin-top: 15px;
    margin-left: 69px;
    font-family: ﻿Verdana-Bold, ﻿AdobeInvisFont, ﻿Courier, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255);

}
.main-header:hover{
    color: #3cb878;
}
.main-header .main-header3{
    margin-left: 43px;
}
.main-header1{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;

}
.main-header2{
    display: inline-block;
    margin-top: 15px;
    margin-left: 729px;
    }

.main-header2 .calendar{
    padding-right: 20px;
}
.main-header2 .forum{
    padding-right: 20px;
}
.calendar:hover {
    color: #3cb878;
}
.main-header3{
    display: inline-block;
    margin-right: 75px;
    font-family: ﻿Verdana-Bold, ﻿AdobeInvisFont, ﻿Courier, sans-serif;
    font-size: 14px;
}
.green{
    color: #3cb878;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}




h3{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    font-size: 19px;
    color: rgba(67, 67, 67, 255);
    padding-left: 30px;
    padding-top: 15px;
}
.h5{
    display: inline-block;
    margin-left: 240px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    font-size: 13px;
    color: rgba(60, 184, 120, 255);
}


.container {
    position: relative;
   margin:50px auto;
    width: 444px;
    height: 564px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    }


.form3 input{
    width: 322px;
    padding: 8px;
    margin: 5px 0 0 0;
    margin-left: 40px;
    height: 46px;
    font-weight: 400;
    border: solid 1px rgba(180, 180, 180, 0.5);
    outline: none;
    border-radius: 3px;

}
.form3 input::placeholder {
    color:  #bebebe;
}
.form3 input:focus {
    margin-bottom: 5px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}

.btn {
    background-color: #3cb878;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 340px;
    margin-left: 40px;
    margin-top: 20px;

    }
.btn1, .btn2 {
    margin-top: 15px;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 157px;
    height:46px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana,sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255);
    padding-right: 5px;
}
.btn1{
    background-color: #305db8;
    margin-left: 36px;
}
.btn2{
    background-color: #e25d48;
    margin-left: 20px;
}
.divider {
    width: 100%;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divider div {
    display: inline-block;
}

.divider .text5 {
    margin:0 15px;
    width: 30px;
}
.divider .line {
    background-image: url('../img/line.png');
    height: 1px;
    width: 135px;
}


.img-btn1, .img-btn2{
    padding-right: 40px;
}
.btn:hover {
    opacity: 0.8;
    color: #20807c;

}

input:checked +span {
    color: #434343;
    font-size: 14px;
}
.checkbox>a{
    color: #3cb878;
}
.checkbox{
    margin-top: 10px;
    margin-left: 40px;
}

