html {
    width: 100%;
    height: 100%;
    background-image: url("../img/fon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
body a {
    text-decoration: none;
}
.header {
    margin: 44pt auto;
    width: 1060px;
    height: 46pt;
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier, sans-serif;
    color: rgb(255, 255, 255);
    position: relative;
}

.logo {
    display: inline-block;
    font-size: 44pt;
}

.milan {
    display: inline-block;
    font-size: 22px;
    color: rgb(255, 255, 255);
    }

.text-logo {
    font-size: 22px;
    color: rgb(255, 255, 255);

}
.text-logo1 {
    font-size: 13px;
    color: rgb(255, 255, 255);

}

.adress {
    display: inline-block;
    font-size: 18px;
    position: absolute;
    right: 0px;
    top: 15px;
    color: rgb(255, 255, 255);
}

.adress a{
    text-decoration: none;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);

}

 .lg:hover .text-logo{
     color: #f26522;
 }
.lg:hover .text-logo1{
    color: #f26522;
}
.picture:hover .pop_up{
    padding-top: -15pt ;
}
.img_logo{
    display: inline-block;
    height:44px;
    width:46px;
    background-image: url(../img/picture0.png);
}

.lg:hover .img_logo{
    background-image: url(../img/logo.png);
}

.pop_up{
    height: 0px;
    overflow: hidden;
         }
.pop_up::after {
    content: "";
    clear: both;
    display: table;
}
 .picture:hover .pop_up{
        position: absolute;
        bottom: 0;
        background: #f26522;
        width: 312px;
        height: 63px;
     transition: ease 1s;
        font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
        color: white;
      }
.price{
    display: inline-block;
    float: left;
    padding-left: 14px;
    font-size: 20px;
   padding-top: 14px;

}
.details{
    display: inline-block;
    float: right;
    padding-right: 10px;
    font-size: 14pt;
    padding-top: 28px;
   }

.form{
    font-size: 10pt;
    display: block;

}
 .picture{
     overflow: hidden;

 }
 .wrapper{
     position: relative;
 }

.tours_container{
    width: 1060px;
    margin: auto;
}

.tours_container > div {
    width: 307px;
    margin-right: 62px;
    height: 200px;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 25px;
}
.tours_container  > div:nth-child(3n){
    margin-right: 0px;
}

.text {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 15px;
}

.text3 {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-top: 40px;
    }

     .text:hover{
         color: #f26522;
     }
     .logo:hover{
        color: #f26522;
    }
    