.fon {
     width: 100%;
     height: 440px;

 }
.main{
    position: relative;
}
.header{
    background: #1d2124;
    width: 100%;
    border: 1px solid;
    display: flex;
    padding: 10px 0px;
}
.logo {
    display: inline-block;
    padding-left: 5px;
    font-size: 18px;
    text-align: left;


}
.name{
    display: inline-block;
    font-family:  ﻿AdobeInvisFont, ﻿Courier, sans-serif;
    font-size: 18px;
    color: #ffffff;
    padding-left: 5px;

}
.text2{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    flex-grow: 1;
    line-height: 26px;
}
.text2 a{

    text-decoration: none;
    font-size: 11px;
    font-family:  ﻿AdobeInvisFont, ﻿Courier, sans-serif;
    color: white;
    padding-left: 48px;
}
.picter{
    display: inline-block;
    font-size: 10px;
    text-align: right;
    margin-right: 10px;
    line-height: 26px;
}
.content{
    display: flex;
    background-image: url("../img/header-bg.jpeg");
    background-size: 100%;
    background-position: 25% 55%;
    flex-direction: column;
    text-align: center;
    height: 404px;
        justify-content: center;
}
.text3{
    height: 80px;

}
.the{
    font-size: 21px;
    font-family: AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
    color:white;
}

.number1, .number2{
    color: white;
    font-size: 15px;
    font-family: AdobeInvisFont, ﻿Courier, ﻿OpenSans,sans-serif;
    padding-top:11px;
    padding-bottom: 11px;
    cursor: pointer;
    width: 170px;
    height: 55px;
   margin: 5px;
}
.number1{
    background: #89ca62;

}
.number2{
    background: #14b9d5;
}
.text6 p{
    display: inline-block;
    margin-bottom: 10px;
}
.box-wrapper4 .text8 h3{
    height: 50px;
}

.main2{
    margin-top: 0px;
    background: #f2f2f2;

    text-align: center;
}
.name-header p{
   padding-top: 30px;
    padding-bottom: 30px;
    font-family:AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif ;
    font-size: 21px;
    color: #18b4cf;
    text-align: center;
}

.containerFeast{
    width: 1170px;
    display: inline-block;
}
.feast-picture{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.feast-picture .col{
    display: flex;
    flex-direction: column;
}

.feast-picture .col > div{
    margin-bottom: 20px;
}

.namer{
    font-size: 19px;
    font-family:AdobeInvisFont, ﻿Courier, ﻿OpenSans, sans-serif ;
    color: rgba(91, 100, 105, 255);
    text-align: center;
    padding-top: 18px;
    border: 1px solid;
    background: white;
    height: 41px;
    margin-top: 0px;
}
.picter7{
    height: 590px;
    width: 100%;
}
.second-picture{
    display: flex;
    background-image: url("../img/parallax-bg.jpeg");
    height: 590px;
    background-size: 100%;
    background-position: 25% 55%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.second-picture .text4{
    height: 130px;
}

.second-picture .logo2 img{
    margin: 0px 40px;
}

.reclama{
    font-family: AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold,sans-serif;
    font-size: 25px;
    color: white;
}
.logo-img {
    margin-left: 10px;
}

.text5{
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 21px;
    color: #18b4cf;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold,sans-serif ;
}
.fewpicture{
    width: 100vm;
    display: grid;
    grid-template-columns: repeat(7, 14.29%);
}





.text6 {
    text-align: center;
    font-size: 21px;
    color: #8bd9e7;
    font-family:AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bol,sans-serif ;
    margin-top: 20px;
    padding-bottom: 50px;
}
.box1{
    box-sizing: border-box;
    width: 483px;
    height: 259px;
}
h3 {
    padding-right: 25px;
    padding-top: 5px;
    font-size: 18px;
    text-align: right;
    color: rgba(53, 58, 61, 255);

}
.text8 h3{
        text-align: center;
}
.box4 {
    width: 100%;

}
.post5{
    height: 100%;
}
.box-wrapper4 .box4 img{
    width: 100%;
}

.boxs{
    width: 1170px;
    display: grid;
    grid-template-columns: 75% 25%;
        margin: 0 auto;
}
.box1-text{
    width: 374px;
    background: #f9f7f7;
}
.box1-text1{
    font-size: 14px;
    text-align: right;
    color: rgba(91, 100, 105, 255);
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 5px;
    }

.box-wrapper {
    display: flex;
}
.text7{
    font-size: 19px;
    font-family:﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold,sans-serif ;
    color:rgba(53, 58, 61, 255) ;
    background: #f9f7f7;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    }
.post2{
    width: 100%;
}
.boxs1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
    margin-top: 30px;
    margin-left: 165px;
    width: 1170px;
    }
.box2-text2{
    background: #f9f7f7;
}
.post3  {
    width: 100%;
}
.text8{
    background: #f9f7f7;

}
.post4{
    width: 100%;
}
.boxs2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
    margin-top: 30px;
    margin-left: 165px;
    width: 1170px;
}
.box3-text3 {
    background: #f9f7f7;
}
.boxs3 {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 30px;
    margin-top: 30px;
    margin-left: 165px;
    width: 1170px;
}
.text9 {
    display: flex;
}
.box-five{
    background: #f9f7f7;
    box-sizing: border-box;
    padding-top: 20px;
    height: 260px;
}

.box-wrapper5{
    display: flex;

}
.text8.text-right{
    display: inline-block;
 }

 footer {
    height: 80px;
    background: #1d2124;
}

 footer .footer-text {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;

}

 footer .footer-text .vector {
    display: flex;
}

 footer .footer-text .logFooter1 {
    align-self: flex-start;
}
 .footer-text1{
     font-size: 15px;
     color: white;
     font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier,sans-serif;

 }
