    body{
        width: 1280px;
        height: 1282px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 30px;
    }
    .ramda{
    font-size: 80px;
    text-decoration: none;
    margin-top: 60px;
        color: #4bcaff;
    }

  .colorword {
      color: black;
        }
    nav {
        font-size: 24px;
        background-color: #35444f;
        margin-top: 45px;
        text-align: center;
        height: 69px;
    }
           nav a {
               text-align: justify ;
            font-family: "Times New Roman",Arial,sans-serif;
        color: white;
        padding-top: 20.9px ;
        padding-bottom: 20.9px;
               padding-left: 79.5px;
               padding-right: 61.8px;
        text-decoration: none;
               display: inline-block;
    }
        nav a:hover{
            background-color: #222f3a;

        }
       .text2{
           border: 1px solid;
           display: inline-block;
           margin-top: 50px;
           width: 344px;
           height: 405px;
       }
    .text2 a{
        display:block;
        text-decoration: none;
        text-align: left;
        font-size: 29px;
        font-family: "Times New Roman",Arial, sans-serif;
        line-height: 81px;
        color: #495863;
        padding-left: 44px;
    }
    .text2 a:hover{
        background-color: #dbdbdb;
        padding-left: 70px;
        font-weight: bold;
    }

        .main .column2 {
        width: 885px;
        height: 529px;
        margin-top: 50px;
        display: inline-block;
        border: 1px solid black;
        float: right;
    }
    .picter{
        padding: 75px 268px 73px 297px;
    }
    footer {
        font-size: 26px;
        background-color: #b4b7ba;
        display: inline-block;
        color: black;
    }
    footer .menu{
        margin-left: 44px;
                   }
    footer .copy{
        text-align: right;
        margin-right: 34px;
    }
    footer a{
        text-decoration: none;
        margin-left: 20px;
        color: black;
    }
    footer a:hover{
        color: #3181a6;
    }

    p{
        font-size: 18pt;
        font-family: "Times New Roman",Arial,sans-serif;
    }