
input {
    outline: 0 !important;
}

.pane {
    padding: 5px 10px 5px;
    padding-right: 30px;
    border: solid 2px #e7eaed;
    position: relative;
    border-radius: 20px;
    width: max-content;
}

.strPrice{
    color: #788794;
}

.remove-button {
    position: absolute;
    font-size: 110%;
    color: #e7eaed;
    top: 4px;
    right: 4px;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    display: block;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid #b4b7ba;
    border-radius: 20px;
}
