

    body{
        background-color: #f5f6f7;
    }
    .header {
        font-family:"Times New Roman";
    font-size: 14px;
    text-align:center;

        padding: 28px;
    }
    div.header a {
        padding-right: 32.5px;
        padding-left: 32.5px;
        padding-top: 25px;
        padding-bottom: 28px;
        text-decoration: none;
        color:#16a085;
        font-weight: bold;
    }
    h1{
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    font-size: 17px;
    color: rgba(55, 55, 55, 255);
    text-align: center;
        margin-top: 59px;
        margin-bottom: 34px;
        font-weight: bold;
    }
    .texter{
      font-family: "Times New Roman";
        font-size: 16pt;
        text-align: center;
        margin-left: 113px;
        margin-right: 104px;

    }
    button{
        background: #16a085;
        color: white;
        text-align: center;
        width: 192px;
        height: 51px;

    }
    .knopka{
        margin-top: 38.5px;
        margin-bottom: 86.5px;
        text-align: center;
    }
    .gr{
        margin-bottom: 71px;
    }
    .copyr{
        text-align: right;
        font-size: 16px;
        padding-top: 133px;
        padding-bottom: 37px;
        font-weight: bold;
        padding-right: 104px;
        background-color: #fff;
    }