.main-header{
    border: 20px #3a4965 solid;
   }
form{
        text-align: center;
}
.container, .container tr>td,th{
    border: 1px black solid;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}
td, th {
    width: 277px;
    padding: 25px;
}

tr:nth-child(even) {
    background: #f2f2f2;
}
 tr:nth-child(odd) {
    background: #e3e3e3;
}
tr:nth-child{
    background: #fafafa;
}
p{
    font-size: 14px;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier,sans-serif;
}
span{
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier,sans-serif;
    font-size: 22px;
}
.prise{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier,sans-serif;
    font-size: 50px;
}
.prise2{
    display: inline-block;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier,sans-serif;
    font-size: 18px;
}
.per{
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier,sans-serif;
    font-size: 14px;
}
tr .text2{
    background: #f26522;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier,sans-serif;
    font-size: 18px;
   }
tr .text3{
    background: #f04a56;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courie,sans-serif;
    font-size: 22px;
}
tr .text4{
    background: #20807c;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courie,sans-serif;
    font-size: 18px;
}

.row4{
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courie,sans-serif;
    font-size: 11px;
}
.row3, .row6, .row7, .row3, .row9{
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courie,sans-serif;
    font-size: 13px;
}

.button1, .button2, .button3, .button4{
        font-size: 13px;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courie,sans-serif;
}
.button1:hover{
    background:  #484848;
    color: #ffffff;
    width: 192px;
    height: 49px
    }
.button2:hover{
    background: #89c331;
    color: #ffffff;
    width: 192px;
    height: 49px
}
.button3:hover{
    background: #f04f56;
    color: #ffffff;
    width: 192px;
    height: 49px
}
.button4:hover{
    background: #20807c;
    color: #ffffff;
    width: 192px;
    height: 49px;
}